/__pycache__
/output
*.pth
*.pt
*.mp4
/output_car
/out_A
/out_B
/out_t6_face
/output_diag
/output_smoke
/output_t6
/weights
/video_analysis_server/__pycache__
/video_analysis_server/analyzer/__pycache__
logs/server.err.log
*.log
